

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #AE445A;
    
}

.header .name{
    color: bisque;
    display:flexbox;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(235, 181, 234); 
}
.container{
    height: 100vh;
    max-width: 100vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space_between;
    align-items: center;
    margin:0 auto;
    padding: 20px 0px;
}
.bar{
    height: 100px;
    background-color: #E8BCB9;
    /* border-color: black; */
    display: flex;
    align-items: flex-end;
    width: 15px;
    border: 0.75px rgb(3, 1, 5);
    margin: 0.25px;
    transition: height 0.6s ease-in-out;
}

.bars_container{
    display: flex;
    flex-direction: row;
}

.buttons_container{
    display: flex;
    flex-direction: row;
}

#randomize_arr_btn{
    padding: 5px;
    font-family: 'DM Serif Display', serif;
    /* display:flexbox; */
    width: 800%;
    color: #AE445A;
    font-size: 20px;
    text-shadow: 1px 1px rgb(235, 160, 156); 
    border-radius: 5px;
    font-weight: bold;
}
#sort_button{
    padding: 5px;
    width: 500%;
    font-size: 20px;
    /* display:flexbox; */
    color: #AE445A;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    text-shadow: 1px 1px rgb(235, 160, 156);    
    border-radius: 5px;
}